

* {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }
  
  body {
    background-color: rgb(237, 237, 237);
  }
  
  header {
  
    .logoImg {
      height: 75px;
      border-radius: 100%;
      border: 4px solid rgb(21, 127, 196);
      -webkit-transition: -webkit-transform .95s ease;
              transition:         transform .95s ease;
  
      &:hover {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
      }
    }
  }
  
  div.content {
  
    section .card {
        width: 46.5%;
        margin-bottom: 30px;
        margin-right: 3.5%;
    }
  }
  
  .calculator {
    color: rgb(21, 127, 196);
    font-weight: bolder;
  }
  
  .ivgu_color {
    background: rgb(21, 127, 196);
  }
  
 
  //////////////////
  
  .notPaddingLR {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  .notMarginLR {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  //////////////////
  

  footer {
    .social {
      & > a {
        & > div {
          width: 50px;
          height: 50px;
          text-align: center;
          line-height: 50px;
          border-radius: 100%;
          background: #eee;
          border: 1px solid silver;
          cursor: pointer;
          color: #3b3b3b;
          transition: transform 700ms ease, background-color 750ms ease;
          margin: 5px;

            &:hover { 
              transform: translateY(-10px); 
              background-color: rgb(21, 127, 196);

              i {
                color:white;
              }
            }
          }
      }
    }
  }
  
///// scale картинок
 .scale {
  display: inline-block; /* Строчно-блочный элемент */
  overflow: hidden; /* Скрываем всё за контуром */
 }
 .scale img {
  transition: 1.4s; /* Время эффекта */
  display: block; /* Убираем небольшой отступ снизу */
 }
 .scale img:hover {
  transform: scale(1.15); /* Увеличиваем масштаб */
 }
/////


  ////////////////////////////////////////////////////
  ////////////////////////////////////////////////////
  /////////////////////////////////////maedia query///
  ////////////////////////////////////////////////////
  ////////////////////////////////////////////////////
  
  @media (max-width: 576 ) and (min-width: 400) {
    .logoTxt {
      position: relative;
      right: 25px;
    }
  }
  
  @media (max-width: 350px) {
  
    .logoTxt {
      position: relative;
      left: 25px;
    }
  }
  
  
  @media (max-width: 450px) {
    .overlay {
      .overlay-content {
        .searchBlock {
          .resetBtn[type="reset"] {left: 85%;}
        }
      }
    }
  }
  